@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  scroll-behavior: unset;
}

.b-section {
  font-family: "Poppins", sans-serif;
  color: #010924;
  font-size: 16px;
  overflow-x: hidden;
}
.b-section p {
  font-size: 16px;
  color: #010924;
  line-height: 1.8em;
  margin-bottom: 1rem;
}
.b-section h1,
.b-section h2,
.b-section h3,
.b-section h4,
.b-section h5,
.b-section h6 {
  color: #010924;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.b-section ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.b-section a {
  text-decoration: none;
}
.b-section a:hover {
  text-decoration: none;
}
@media (max-width: 1440px) {
  .b-section .container {
    max-width: 1271px;
  }
}
.b-section img {
  max-width: 100%;
}
.b-section .h-hidden {
  display: none;
}

.section-padding {
  padding: 70px 0;
}

.theme-btn,
.theme-btn-s2 {
  background: #0437f2;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 12px 45px;
  border: 0;
  z-index: 11;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 8px;
}
.theme-btn::before,
.theme-btn-s2::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0437f2;
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition: 0.5s;
  z-index: -1;
}
.theme-btn:hover, .theme-btn:focus, .theme-btn:active,
.theme-btn-s2:hover,
.theme-btn-s2:focus,
.theme-btn-s2:active {
  background-color: #051c6e;
  color: #fff;
}
.theme-btn:hover:before, .theme-btn:focus:before, .theme-btn:active:before,
.theme-btn-s2:hover:before,
.theme-btn-s2:focus:before,
.theme-btn-s2:active:before {
  transform: scaleX(0);
}
.theme-btn:hover:after, .theme-btn:focus:after, .theme-btn:active:after,
.theme-btn-s2:hover:after,
.theme-btn-s2:focus:after,
.theme-btn-s2:active:after {
  right: 30px;
}
@media (max-width: 991px) {
  .theme-btn,
  .theme-btn-s2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .theme-btn,
  .theme-btn-s2 {
    padding: 15px 22px;
    font-size: 14px;
  }
}

.theme-btn-s2 {
  background: #9ad90a;
  color: #010924;
}
.theme-btn-s2:before {
  background: #b3fe05;
}
.theme-btn-s2:hover, .theme-btn-s2:focus, .theme-btn-s2:active {
  background-color: #9ad90a;
  color: #fff;
}

.footer p {
  color: #fff;
}

.section-title {
  margin-bottom: 50px;
}
.section-title.style-2 {
  text-align: center;
}
.section-title span {
  color: #606060;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
}
.section-title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 575px) {
  .section-title p {
    font-size: 16px;
  }
}
.section-title a {
  color: #0437f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.hero-area {
  background: #f5f5f5;
  overflow: hidden;
}
.hero-area .hero-text {
  padding: 30px 0;
  padding-left: 82px;
}
@media (max-width: 1199px) {
  .hero-area .hero-text {
    padding-left: 30px;
  }
}
@media (max-width: 575px) {
  .hero-area .hero-text {
    padding-left: 12px;
  }
}
.hero-area .hero-text h1 {
  color: #010924;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 24px 0;
}
@media (max-width: 1199px) {
  .hero-area .hero-text h1 {
    font-size: 55px;
  }
}
@media (max-width: 575px) {
  .hero-area .hero-text h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
.hero-area .hero-text span {
  color: #606060;
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 5px 20px;
  background: #fff;
  border-radius: 50px;
}
@media (max-width: 575px) {
  .hero-area .hero-text span {
    font-size: 14px;
  }
}
.hero-area .hero-text span i {
  display: inline-block;
}
.hero-area .hero-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 419px;
}
.hero-area .hero-text .hero-btn ul {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .hero-area .hero-text .hero-btn ul {
    margin-top: 20px;
  }
}
.hero-area .hero-text .hero-btn ul li + li {
  margin-left: 20px;
}
.hero-area .hero-text .hero-btn ul li + li a {
  color: #0437f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.hero-area .hero-text .bottom-features {
  margin-top: 80px;
}
@media (max-width: 575px) {
  .hero-area .hero-text .bottom-features {
    margin-top: 30px;
  }
}
.hero-area .hero-text .bottom-features small {
  color: #010924;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero-area .hero-text .bottom-features ul {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.hero-area .hero-text .bottom-features ul li + li {
  margin-left: 17px;
}
.hero-area .hero-right-img-wrap {
  display: flex;
  align-items: flex-end;
}
.hero-area .hero-right-img-wrap .hero-right-img-left {
  padding-right: 30px;
}
@media (max-width: 575px) {
  .hero-area .hero-right-img-wrap .hero-right-img-left {
    padding-right: 15px;
  }
}
.hero-area .hero-right-img-wrap .hero-right-img {
  margin-bottom: 23px;
}
@media (max-width: 575px) {
  .hero-area .hero-right-img-wrap .hero-right-img {
    margin-bottom: 15px;
  }
}
.hero-area .hero-right-img-wrap .hero-right-img:last-child {
  margin-bottom: 0;
}
.hero-area .hero-right-img-wrap .hero-right-img img {
  width: 100%;
}

.suppliment-area {
  padding-bottom: 40px;
}
.suppliment-area .suppliment-wrap .suppliment-item {
  margin-bottom: 30px;
}
.suppliment-area .suppliment-wrap .suppliment-item .suppliment-img {
  overflow: hidden;
  border-radius: 10px;
}
.suppliment-area .suppliment-wrap .suppliment-item .suppliment-img img {
  transform: scale(1);
  transition: all 0.3s;
  border-radius: 10px;
}
.suppliment-area .suppliment-wrap .suppliment-item .suppliment-text {
  padding-top: 20px;
}
.suppliment-area .suppliment-wrap .suppliment-item .suppliment-text h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.suppliment-area .suppliment-wrap .suppliment-item .suppliment-text a {
  color: #0437f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.suppliment-area .suppliment-wrap .suppliment-item:hover .suppliment-img img {
  transform: scale(1.2);
}

.benefits-area {
  background: #f5f5f5;
}
.benefits-area .benefits-wrap .benefits-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits-area .benefits-wrap .benefits-item .benefits-content {
  flex-basis: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 37px;
}
.benefits-area .benefits-wrap .benefits-item .benefits-content .benefits-content-inner {
  max-width: 155px;
}
@media (max-width: 767px) {
  .benefits-area .benefits-wrap .benefits-item .benefits-content .benefits-content-inner {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .benefits-area .benefits-wrap .benefits-item .benefits-content {
    flex-basis: 33.33%;
  }
}
@media (max-width: 767px) {
  .benefits-area .benefits-wrap .benefits-item .benefits-content {
    flex-basis: 50%;
  }
}
.benefits-area .benefits-wrap .benefits-item .benefits-content h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.benefits-area .benefits-wrap .benefits-item .benefits-content .benefits-icon {
  width: 71px;
  height: 71px;
  line-height: 71px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-area .benefits-wrap .benefits-img {
  text-align: center;
}

.balance-area {
  background: #021c79;
}
.balance-area .balance-wrap .balance-img {
  position: relative;
}
.balance-area .balance-wrap .balance-img .image_slug p {
  display: block;
  color: #fff;
  margin-top: 10px;
}
.balance-area .balance-wrap .balance-img .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.balance-area .balance-wrap .balance-text {
  padding-left: 60px;
}
@media (max-width: 1199px) {
  .balance-area .balance-wrap .balance-text {
    padding-left: 0px;
  }
}
.balance-area .balance-wrap .balance-text h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1199px) {
  .balance-area .balance-wrap .balance-text h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-top: 40px;
  }
}
.balance-area .balance-wrap .balance-text p {
  color: #fff;
  margin-bottom: 50px;
}
.balance-area .balance-wrap .balance-text .balance-features {
  margin-bottom: 40px;
}
.balance-area .balance-wrap .balance-text .balance-features h3 {
  color: #1099ff;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
}
.balance-area .balance-wrap .balance-text .balance-features h4 {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}
.balance-area .balance-wrap .balance-text .theme-btn {
  background-color: #9ad90a;
  color: #010924;
}
.balance-area .balance-wrap .balance-text .theme-btn:before {
  background-color: #b3fe05;
}

.testimonial-area .testimonial-wrap {
  position: relative;
}
.testimonial-area .testimonial-wrap .testimonial-img {
  position: relative;
}
@media (max-width: 991px) {
  .testimonial-area .testimonial-wrap .testimonial-img {
    background: #010924;
    border-radius: 10px;
  }
}
.testimonial-area .testimonial-wrap .testimonial-img .t-bg {
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 1199px) {
  .testimonial-area .testimonial-wrap .testimonial-img .t-bg {
    min-height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 991px) {
  .testimonial-area .testimonial-wrap .testimonial-img .t-bg {
    min-height: 250px;
  }
}
.testimonial-area .testimonial-wrap .testimonial-img .testimonial-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 430px;
  padding-left: 30px;
}
@media (max-width: 991px) {
  .testimonial-area .testimonial-wrap .testimonial-img .testimonial-text {
    padding: 30px 15px;
    position: relative;
    top: 0;
    transform: unset;
    background: transparent;
  }
}
.testimonial-area .testimonial-wrap .testimonial-img .testimonial-text h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .testimonial-area .testimonial-wrap .testimonial-img .testimonial-text h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
}
.testimonial-area .testimonial-wrap .testimonial-img .testimonial-text p {
  color: #fff;
}
.testimonial-area .testimonial-wrap .testimonial-img .testimonial-text .video ul {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonial-area .testimonial-wrap .testimonial-img .testimonial-text .video ul li + li {
  margin-left: 10px;
  color: #fff;
}
.testimonial-area .testimonial-wrap .testimonial-bottom {
  border-radius: 10px;
  background: #f5f5f5;
  padding: 40px;
}
@media (max-width: 575px) {
  .testimonial-area .testimonial-wrap .testimonial-bottom {
    padding: 30px 15px;
  }
}
.testimonial-area .testimonial-wrap .testimonial-bottom .testimonial-inner {
  max-width: 636px;
  margin: 0 auto;
  text-align: center;
}
.testimonial-area .testimonial-wrap .testimonial-bottom .testimonial-inner h2 {
  color: #010924;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.details-area .details-wrap {
  background: #f5f5f5;
}
.details-area .details-wrap .details-content {
  padding: 50px 30px;
}
@media (max-width: 575px) {
  .details-area .details-wrap .details-content {
    padding: 40px 15px;
  }
}
.details-area .details-wrap .details-content h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .details-area .details-wrap .details-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
.details-area .details-wrap .details-content a {
  display: inline-block;
  color: #0437f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 20px;
}
.details-area .details-wrap .owl-nav {
  display: none;
}
.details-area .details-wrap .owl-dots {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
}
.details-area .details-wrap .owl-dots .owl-dot {
  width: 44px;
  height: 44px;
  background: transparent;
  border: 0;
  color: #606060;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 380px) {
  .details-area .details-wrap .owl-dots .owl-dot {
    width: 35px;
    height: 35px;
  }
}
.details-area .details-wrap .owl-dots .owl-dot.active {
  border: 1px solid #0437f2;
  border-radius: 50%;
  color: #010924;
}

.quiz-area {
  height: 759.053px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
@media (max-width: 575px) {
  .quiz-area {
    height: 100%;
    padding: 130px 40px;
  }
}
.quiz-area .quiz-text {
  padding: 50px 40px;
  background: #fff;
  max-width: 1091.514px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 575px) {
  .quiz-area .quiz-text {
    padding: 40px 15px;
  }
}
.quiz-area .quiz-text span {
  color: #606060;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quiz-area .quiz-text h2 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .quiz-area .quiz-text h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
.quiz-area .quiz-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.hero-area.style2 {
  background: #fff;
}
.hero-area.style2 .hero-text {
  text-align: center;
  padding: 40px 0;
}
.hero-area.style2 .hero-text p {
  max-width: 863px;
  margin: 0 auto;
}
.hero-area.style2 .hero-text h1 {
  color: #021c79;
}
.hero-area.style2 .hero-text h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 575px) {
  .hero-area.style2 .hero-text h3 {
    font-size: 28px;
    line-height: 40px;
  }
}
.hero-area.style2 .hero-text .bottom-features {
  margin-top: 50px;
}
.hero-area.style2 .hero-text .bottom-features ul {
  justify-content: center;
}

.benefits-area.style-2 .benefits-img img {
  width: 100%;
}
.benefits-area.style-2 .title {
  max-width: 467px;
  margin-bottom: -110px;
}
@media (max-width: 1199px) {
  .benefits-area.style-2 .title {
    margin-bottom: -60px;
  }
}
@media (max-width: 991px) {
  .benefits-area.style-2 .title {
    margin-bottom: 20px;
  }
}
.benefits-area.style-2 .title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-top: 30px;
}
@media (max-width: 575px) {
  .benefits-area.style-2 .title h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
.benefits-area.style-2 .benefits-item .benefits-content {
  max-width: 100%;
  flex-basis: 100%;
  text-align: left;
}
.benefits-area.style-2 .benefits-item .benefits-content .benefits-content-inner {
  max-width: 100%;
}
.benefits-area.style-2 .benefits-item .benefits-content h3 {
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 5px;
}
@media (max-width: 575px) {
  .benefits-area.style-2 .benefits-item .benefits-content h3 {
    font-size: 16px;
  }
}
.benefits-area.style-2 .shop-btn {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .banner-area .banner-text {
    margin-top: 30px;
  }
}
.banner-area .banner-text h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .banner-area .banner-text h2 {
    font-size: 32px;
  }
}
.banner-area .banner-text h3 {
  color: #0437f2;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .banner-area .banner-text h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
  }
}
.banner-area .banner-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.solution-area .solution-wrap {
  background: #f5f5f5;
}
.solution-area .solution-wrap .solution-content {
  padding: 30px 35px;
}
@media (max-width: 575px) {
  .solution-area .solution-wrap .solution-content {
    padding: 40px 15px;
  }
}
.solution-area .solution-wrap .solution-content h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
@media (max-width: 575px) {
  .solution-area .solution-wrap .solution-content h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
.solution-area .solution-wrap .solution-content a {
  display: inline-block;
  color: #0437f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 20px;
}
.solution-area .solution-wrap .solution-img img {
  width: 100%;
}
.solution-area .solution-tab {
  margin-top: 30px;
}
.solution-area .solution-tab .nav-tabs {
  border: 0;
  justify-content: center;
}
.solution-area .solution-tab .nav-tabs li a {
  border-radius: 50px;
  border: 2px solid transparent;
  background: transparent;
  color: #606060;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.solution-area .solution-tab .nav-tabs li a.active {
  border: 2px solid #1099ff;
  background: #f5f5f5;
  color: #010924;
}
@media (max-width: 575px) {
  .solution-area .solution-tab .nav-tabs li a {
    font-size: 16px;
  }
}

.banner-area-s2 {
  background: #f5f5f5;
}
@media (max-width: 991px) {
  .banner-area-s2 .banner-wrap .banner-text {
    margin-top: 30px;
  }
}
.banner-area-s2 .banner-wrap .banner-text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .banner-area-s2 .banner-wrap .banner-text h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
.banner-area-s2 .banner-wrap .banner-text p {
  margin-bottom: 20px;
}

.healthcare-area {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 0;
  background: #f5f5f5;
}
.healthcare-area h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 550px;
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .healthcare-area h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
.healthcare-area .healthcare-item {
  margin-bottom: 90px;
}
@media (max-width: 575px) {
  .healthcare-area .healthcare-item {
    margin-bottom: 30px;
  }
}
.healthcare-area .healthcare-item .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.healthcare-area .healthcare-item h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.testimonial-area.style-2 .testimonial-wrap .testimonial-text {
  z-index: 1;
}
.testimonial-area.style-2 .owl-nav {
  display: none;
}
.testimonial-area.style-2 .owl-dots {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
}
.testimonial-area.style-2 .owl-dots .owl-dot {
  width: 44px;
  height: 44px;
  background: transparent;
  border: 0;
  color: #606060;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 380px) {
  .testimonial-area.style-2 .owl-dots .owl-dot {
    width: 35px;
    height: 35px;
  }
}
.testimonial-area.style-2 .owl-dots .owl-dot.active {
  border: 1px solid #0437f2;
  border-radius: 50%;
  color: #010924;
}

.subscribe-area {
  padding: 195px 30px 145px;
}
@media (max-width: 991px) {
  .subscribe-area {
    padding: 60px 15px;
  }
}
@media (max-width: 575px) {
  .subscribe-area {
    padding: 40px 15px;
  }
}
.subscribe-area .subscribe-wrap {
  max-width: 460px;
}
.subscribe-area .subscribe-wrap h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .subscribe-area .subscribe-wrap h2 {
    font-size: 32px;
  }
}
.subscribe-area .subscribe-wrap p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  margin-bottom: 30px;
}
.subscribe-area .subscribe-wrap input {
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  background: #fff;
  height: 47px;
  padding: 15px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.subscribe-area .subscribe-wrap .theme-btn-s2 {
  width: 100%;
}

.hero-area.style-3 {
  padding: 50px 0;
}
.hero-area.style-3 .hero-text h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.hero-area.style-3 .hero-text h2 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #021c79;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-text h2 {
    font-size: 48px;
    line-height: normal;
  }
}
.hero-area.style-3 .hero-right-img-wrap {
  border-radius: 10px;
  background: linear-gradient(180deg, #1099ff 0%, #021c79 100%);
  padding: 0 45px;
  align-items: center;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-right-img-wrap {
    padding-left: 15px;
  }
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-text {
  flex-basis: 40%;
  margin-right: 20px;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-right-img-wrap .hero-right-text {
    flex-basis: 58%;
    padding: 20px 0;
  }
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-text h3 {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-right-img-wrap .hero-right-text h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-text ul {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-text ul li {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-right-img-wrap .hero-right-text ul li {
    font-size: 21px;
  }
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-text ul li + li {
  color: #1099ff;
  font-size: 20px;
  margin-left: 5px;
}
@media (max-width: 575px) {
  .hero-area.style-3 .hero-right-img-wrap .hero-right-text ul li + li {
    font-size: 16px;
  }
}
.hero-area.style-3 .hero-right-img-wrap .hero-right-img {
  margin-top: -50px;
  margin-left: 20px;
}

.details-area.style-2 {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 150px;
}

.taste-area {
  background: #f5f5f5;
}
.taste-area .taste-text i {
  display: inline-block;
  width: 71px;
  height: 71px;
  line-height: 71px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.taste-area .taste-text h2 {
  color: #010924;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .taste-area .taste-text h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
}
.taste-area .taste-img {
  position: relative;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .taste-area .taste-img {
    margin-left: 0;
  }
}
.taste-area .taste-img img {
  width: 100%;
}
.taste-area .taste-img .compare-wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.taste-area .taste-img .compare-wrap .compare-react i {
  width: 78px;
  height: 78px;
  line-height: 78px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}
@media (max-width: 1199px) {
  .taste-area .taste-img .compare-wrap .compare-react i {
    width: 54.795px;
    height: 54.795px;
    line-height: 54.795px;
  }
}
@media (max-width: 1199px) {
  .taste-area .taste-img .compare-wrap .compare-react i img {
    max-width: 30px;
  }
}
.taste-area .taste-img .compare-wrap .compare-react img {
  width: auto;
}
.taste-area .taste-img .compare-wrap .compare-color {
  margin: 0 20px;
}
@media (max-width: 575px) {
  .taste-area .taste-img .compare-wrap .compare-color {
    margin: 0 10px;
  }
}
.taste-area .taste-img .compare-wrap .compare-color p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.taste-area .taste-img .compare-wrap .compare-color p span {
  color: #fff;
  display: inline-block;
  margin: 0 5px;
}
@media (max-width: 575px) {
  .taste-area .taste-img .compare-wrap .compare-color p span {
    margin: 0 2px;
  }
}
@media (max-width: 991px) {
  .taste-area .taste-img .compare-wrap .compare-color p span img {
    max-width: 120px;
  }
}
.taste-area .taste-img .compare-wrap .compare-color ul {
  display: flex;
  justify-content: center;
}
.taste-area .taste-img .compare-wrap .compare-color ul li {
  width: 63px;
  height: 36px;
  line-height: 36px;
  background: #ec3e25;
  text-align: center;
  color: #fff;
}
@media (max-width: 1199px) {
  .taste-area .taste-img .compare-wrap .compare-color ul li {
    width: 44.257px;
    height: 25.29px;
    line-height: 25.29px;
  }
}
.taste-area .taste-img .compare-wrap .compare-color ul li + li {
  margin-left: 8px;
}
@media (max-width: 575px) {
  .taste-area .taste-img .compare-wrap .compare-color ul li + li {
    margin-left: 2px;
  }
}
.taste-area .taste-img .compare-wrap .compare-color ul li:nth-child(2) {
  background-color: #f36c28;
}
.taste-area .taste-img .compare-wrap .compare-color ul li:nth-child(3) {
  background-color: #f2ea1b;
}
.taste-area .taste-img .compare-wrap .compare-color ul li:nth-child(4) {
  background-color: #9ac93d;
}
.taste-area .taste-img .compare-wrap .compare-color ul li:nth-child(5) {
  background-color: #148742;
}

.footer__block .form-control {
  padding: 0;
  background: none;
  border: 0;
}/*# sourceMappingURL=custom.css.map */